@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f9fafb;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}
